@{
  ViewData["Title"] = "Kanban Board";
}

@section Styles {
  <link rel="stylesheet" href="~/css/Home.css" />
}

<p>Create Tasks</p>
<button onclick="addColumn()">Add Column</button>

<div class="container bg-dark text-center" id="kanbanBoard">
   @* columns go here *@
</div>

